*{
    margin: 0;
    padding: 0;
}

#mainHeading{
    text-align: center;
    background-color: rgba(234, 149, 149, 0.859);
    padding: 1%;
}

#mainBoxContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;

}

#computerBox,#userBox{
    background-image:  linear-gradient(rgb(232, 115, 115), rgb(241, 232, 226));
    height: 17vw;
    width: 17vw;
}

#mainBoxContainer p{
text-align: center;
    font-weight: bold;
    font-size: 167%;
    padding: 2px;
}

#mainButtonContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;

}

#mainButtonContainer button{
padding: 1%;
background-color: #ffa6a6;
border-radius: 16%;
cursor: pointer;
font-size: 149%;
}

#matches{
    text-align: center;
    padding: 1%;
    font-size: 149%;
}

#matches input{
    font-size: 82%;
    padding: 0.3%;
    text-align: center;
    width: 3%;
    margin: 0px 1%;
}

#playAgain{
    position: absolute;
    right: 2%;
    width: 3%;
    height: 5%;
    font-size: larger;
    top: 10%;
    background-color: rgb(244, 208, 208);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .alternateUserBox,.alternateCompBox{
    background-image:  linear-gradient(rgb(232, 115, 115), rgb(241, 232, 226));
    height: 17vw;
    width: 17vw;
display: none;
  }

/* Media Queries */
@media screen and (max-width: 480px) {
    nav{
        width: 100vw;
    }
    #heading{
        padding: 5%;
    }
    #matches{
        font-size: 110%;
        padding: 4%;
    }
    #playAgain{
        font-size: large;
        right: 2%;
        top: 6%;
        width: 7%;
        height: 4%;

    }
    #mainBoxContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mainBoxContainer p{
        text-align: center;
            font-weight: bold;
            font-size: 120%;
            padding: 2px;
        }
    #computerBoxContainer,#userBoxContainer{
        margin: 5%;
    }
    #computerBox,#userBox{
        height: 42vw;
        width: 42vw;
    }
    .alternateUserBox,.alternateCompBox{
        height: 42vw;
        width: 42vw;
    }
    #mainButtonContainer button{
        font-size: 110%;
        padding: 2%;
        }
        #mainButtonContainer{
            margin-top: 7%;
        }
        #matches input{
            width: 7.5%;
        }
  }